#------------------------------------------------------------------------------
# Codeowners for Geant4
#------------------------------------------------------------------------------
# Maps directories to Working Group Coordinators and/or relevent technical experts.
# Add finer grain control as time progresses

#------------------------------------------------------------------------------
# Software Management
#------------------------------------------------------------------------------
/CMakeLists.txt    @bmorgan
/cmake/            @bmorgan @gunter
/config/           @gcosmo @bmorgan
/ReleaseNotes/     @gcosmo @bmorgan
/source/global/    @bmorgan @gcosmo
/source/externals/ @bmorgan @gcosmo

#------------------------------------------------------------------------------
# Run, Event, and Detector Response
#------------------------------------------------------------------------------
/source/run/              @asaim @bmorgan
/source/event/            @asaim @bmorgan
/source/digits_hits/      @asaim @bmorgan
/source/processes/scoring @asaim @bmorgan

#------------------------------------------------------------------------------
# Particles and Tracking
#------------------------------------------------------------------------------
/source/particles/ @shokada @kurashige @asaim
/source/track/     @shokada @kurashige @asaim
/source/tracking/  @shokada @kurashige @asaim

#------------------------------------------------------------------------------
# Geometry and Transport
#------------------------------------------------------------------------------
/source/geometry/                 @japost @agheata @gcosmo
/source/processes/transportation/ @japost @agheata @gcosmo

#------------------------------------------------------------------------------
# Generic Processes and Materials
#------------------------------------------------------------------------------
/source/materials/                    @mverderi @semenjuk @maire @vnivanch @dsawkey @asaim @ebagli
/source/parameterisations/            @mverderi @semenjuk
/source/parameterisations/channeling/ @pandola @alsytov
/source/parameterisations/gflash/     @azaborow
/source/parameterisations/            @mverderi
/source/processes/biasing/            @mverderi @semenjuk @vnivanch @asaim
/source/processes/biasing/generic/    @mverderi
/source/processes/biasing/importance/ @ahoward
/source/processes/biasing/management/ @ahoward @mverderi
/source/processes/parameterisation/   @mverderi @vnivanch @asaim

#------------------------------------------------------------------------------
# Electromagnetic Standard Physics
#------------------------------------------------------------------------------
/source/processes/electromagnetic/        @pandola @sincerti @vnivanch @dsawkey @alsytov
/source/processes/electromagnetic/adjoint @pandola @ldesorgh
/source/processes/optical/                @pandola @dsawkey

#------------------------------------------------------------------------------
# Low Energy Electromagnetic Physics
#------------------------------------------------------------------------------
/source/processes/electromagnetic/dna/       @pandola @sincerti @ngoc
/source/processes/electromagnetic/lowenergy/ @sincerti @pandola
/source/processes/electromagnetic/pii/       @sincerti @pandola

#------------------------------------------------------------------------------
# Hadronic Physics
#------------------------------------------------------------------------------
/source/processes/hadronic/                           @lsarmien @ribon
/source/processes/hadronic/cross_sections/            @lsarmien @ribon @vnivanch
/source/processes/hadronic/management/                @lsarmien @ribon @vnivanch
/source/processes/hadronic/models/abrasion/           @ribon @vnivanch
/source/processes/hadronic/models/binary_cascade/     @gunter @ribon @vnivanch
/source/processes/hadronic/models/cascade/            @mkelsey @ribon @vnivanch @yarba
/source/processes/hadronic/models/coherent_elastic/   @ribon @vnivanch
/source/processes/hadronic/models/de_excitation/      @lsarmien @ribon @vnivanch
/source/processes/hadronic/models/em_dissociation/    @ribon @vnivanch
/source/processes/hadronic/models/fission/            @jverbeke @ribon @vnivanch
/source/processes/hadronic/models/gamma_nuclear/      @ribon @vnivanch
/source/processes/hadronic/models/im_r_matrix/        @gunter @ribon @vnivanch
/source/processes/hadronic/models/inclxx/             @jedavid @ribon
/source/processes/hadronic/models/lend/               @cmattoon @ribon
/source/processes/hadronic/models/lepto_nuclear/      @grichine @ribon @vnivanch
/source/processes/hadronic/models/nudex/              @emendoza @ribon
/source/processes/hadronic/models/particle_hp/        @emendoza @lthullie @ribon @vnivanch
/source/processes/hadronic/models/parton_string/      @gunter @vuzhinsk @ribon
/source/processes/hadronic/models/pre_equilibrium/    @lsarmien @ribon @vnivanch
/source/processes/hadronic/models/qmd/                @yosato @ribon @vnivanch
/source/processes/hadronic/models/quasi_elastic/      @ribon @vnivanch
/source/processes/hadronic/models/radioactive_decay/  @ldesorgh @lsarmien @ribon @vnivanch
/source/processes/hadronic/models/theo_high_energy/   @gunter @ribon @vnivanch
/source/processes/hadronic/models/utils/              @gunter @ribon @lsarmien @vnivanch
/source/processes/hadronic/processes/                 @lsarmien @ribon @vnivanch
/source/processes/hadronic/stopping/                  @lsarmien @ribon @vnivanch
/source/processes/hadronic/util/                      @lsarmien @ribon @vnivanch

#------------------------------------------------------------------------------
# Persistency
#------------------------------------------------------------------------------
/source/persistency/       @witoldp @ihrivnac @gcosmo
/source/persistency/ascii/ @arce
/source/persistency/gdml/  @witoldp @gcosmo
/source/analysis/          @ihrivnac @gybarran

#------------------------------------------------------------------------------
# User and Category Interfaces
#------------------------------------------------------------------------------
/source/intercoms/  @kmura @asaim
/source/interfaces/ @kmura @lgarnier

#------------------------------------------------------------------------------
# Visualization
#------------------------------------------------------------------------------
/source/graphics_reps/               @allison @lgarnier @perl
/source/visualization/management/    @allison @lgarnier @perl
/source/visualization/modeling/      @allison @lgarnier @perl
/source/visualization/FukuiRenderer/ @stanaka @lgarnier
/source/visualization/OpenGL/        @allison @lgarnier
/source/visualization/OpenInventor/  @fjones @allison @lgarnier
/source/visualization/RayTracer/     @asaim @allison @lgarnier
/source/visualization/ToolsSG/       @gybarran @allison @lgarnier
/source/visualization/Tree/          @allison @lgarnier
/source/visualization/VRML/          @stanaka @lgarnier
/source/visualization/Vtk/           @sboogert @allison
/source/visualization/gMocren/       @akimura @lgarnier

#------------------------------------------------------------------------------
# Physics Lists
#------------------------------------------------------------------------------
/source/physics_lists/ @lsarmien @ribon


#------------------------------------------------------------------------------
# Other
#------------------------------------------------------------------------------
/source/error_propagation/ @arce

#------------------------------------------------------------------------------
# Testing
#------------------------------------------------------------------------------
/tests/tools/               @bmorgan @gunter
/tests/code_checks/         @bmorgan
/tests/ctests_examples/     @ihrivnac @anle @fromano @mcortesg @bmorgan
/tests/ctests_integration/  @yarba @syjun
/tests/ctests_source/       @bmorgan
/tests/ctests_verification/ @dkonst @atolosad 
 
#------------------------------------------------------------------------------
# Novice+Extended Examples (Individual Examples assigned to Responsibles)
#------------------------------------------------------------------------------
/examples/basic/    @ihrivnac @anle
/examples/novice/   @ihrivnac @anle
/examples/extended/ @ihrivnac @anle

/examples/basic/B1/ @maire @ihrivnac
/examples/basic/B2/ @ihrivnac
/examples/basic/B3/ @maire @ihrivnac
/examples/basic/B4/ @ihrivnac
/examples/basic/B5/ @ihrivnac

/examples/extended/analysis/AnaEx01/        @maire @ihrivnac
/examples/extended/analysis/AnaEx02/        @maire @ihrivnac
/examples/extended/analysis/AnaEx03/        @ihrivnac
/examples/extended/analysis/B1Con/          @tkoi @ihrivnac

/examples/extended/biasing/B01/         @ahoward @ihrivnac
/examples/extended/biasing/B02/         @ahoward @ihrivnac
/examples/extended/biasing/B03/         @ahoward @ihrivnac
/examples/extended/biasing/GB01/        @mverderi @ihrivnac
/examples/extended/biasing/GB02/        @mverderi @ihrivnac
/examples/extended/biasing/GB03/        @mverderi @ihrivnac
/examples/extended/biasing/GB04/        @mverderi @ihrivnac
/examples/extended/biasing/GB05/        @mverderi @ihrivnac
/examples/extended/biasing/GB06/        @mverderi @ihrivnac
/examples/extended/biasing/GB07/        @mverderi @ihrivnac
/examples/extended/biasing/ReverseMC01/ @ldesorgh @ihrivnac

/examples/extended/common/ @ihrivnac

/examples/extended/electromagnetic/TestEm0/  @maire @ihrivnac
/examples/extended/electromagnetic/TestEm1/  @vnivanch @ihrivnac
/examples/extended/electromagnetic/TestEm2/  @vnivanch @ihrivnac
/examples/extended/electromagnetic/TestEm3/  @maire @ihrivnac
/examples/extended/electromagnetic/TestEm4/  @maire @ihrivnac
/examples/extended/electromagnetic/TestEm5/  @vnivanch @ihrivnac
/examples/extended/electromagnetic/TestEm6/  @vnivanch @ihrivnac
/examples/extended/electromagnetic/TestEm7/  @vnivanch @ihrivnac
/examples/extended/electromagnetic/TestEm8/  @grichine @ihrivnac
/examples/extended/electromagnetic/TestEm9/  @vnivanch @ihrivnac
/examples/extended/electromagnetic/TestEm10/ @grichine @ihrivnac
/examples/extended/electromagnetic/TestEm11/ @maire @ihrivnac
/examples/extended/electromagnetic/TestEm12/ @maire @ihrivnac
/examples/extended/electromagnetic/TestEm13/ @maire @ihrivnac
/examples/extended/electromagnetic/TestEm14/ @maire @ihrivnac
/examples/extended/electromagnetic/TestEm15/ @maire @ihrivnac
/examples/extended/electromagnetic/TestEm16/ @maire @ihrivnac
/examples/extended/electromagnetic/TestEm17/ @maire @ihrivnac
/examples/extended/electromagnetic/TestEm18/ @maire @ihrivnac

/examples/extended/errorpropagation/  @arce @ihrivnac

/examples/extended/eventgenerator/HepMC/                @kmura @witoldp @ihrivnac
/examples/extended/eventgenerator/exgps/                @ldesorgh @ihrivnac
/examples/extended/eventgenerator/particleGun/          @maire @ihrivnac
/examples/extended/eventgenerator/pythia/decayer6/      @ihrivnac
/examples/extended/eventgenerator/pythia/py8decayer/    @yarba @ihrivnac
/examples/extended/eventgenerator/userPrimaryGenerator/ @maire @ihrivnac

/examples/extended/exoticphysics/channeling/ @alsytov @ebagli @ihrivnac
/examples/extended/exoticphysics/dmparticle/ @vnivanch @ihrivnac
/examples/extended/exoticphysics/monopole/   @vnivanch @ihrivnac
/examples/extended/exoticphysics/phonon/     @asaim @ihrivnac
/examples/extended/exoticphysics/saxs/       @pandola @vnivanch @ihrivnac
/examples/extended/exoticphysics/ucn/        @dsawkey @ihrivnac

/examples/extended/field/BlineTracer/ @ldesorgh @ihrivnac
/examples/extended/field/field01/     @japost @ihrivnac
/examples/extended/field/field02/     @japost @ihrivnac
/examples/extended/field/field03/     @japost @ihrivnac
/examples/extended/field/field04/     @japost @ihrivnac
/examples/extended/field/field05/     @japost @ihrivnac
/examples/extended/field/field06/     @japost @ihrivnac

/examples/extended/g3tog4/clGeometry/ @ihrivnac

/examples/extended/geometry/transforms/        @maire @ihrivnac
/examples/extended/geometry/vecGeomNavigation/ @japost @ihrivnac

/examples/extended/hadronic/FissionFragment/ @bwendt @ihrivnac
/examples/extended/hadronic/FlukaCern/       @ribon @ghugo @ihrivnac
/examples/extended/hadronic/Hadr00/          @vnivanch @ihrivnac
/examples/extended/hadronic/Hadr01/          @vnivanch @ihrivnac
/examples/extended/hadronic/Hadr02/          @vnivanch @ihrivnac
/examples/extended/hadronic/Hadr03/          @maire @ihrivnac
/examples/extended/hadronic/Hadr04/          @maire @ihrivnac
/examples/extended/hadronic/Hadr06/          @maire @ihrivnac
/examples/extended/hadronic/Hadr07/          @maire @ihrivnac
/examples/extended/hadronic/Hadr08/          @ribon @ihrivnac
/examples/extended/hadronic/Hadr09/          @ribon @ihrivnac
/examples/extended/hadronic/Hadr10/          @ribon @ihrivnac
/examples/extended/hadronic/NeutronSource/   @maire @ihrivnac
/examples/extended/hadronic/ParticleFluence/ @ribon @ihrivnac

/examples/extended/medical/DICOM/ @arce @jmadsen @ihrivnac

/examples/extended/medical/dna/AuNP/            @dsakata @ihrivnac @sincerti
/examples/extended/medical/dna/UHDR/            @ngoc @ihrivnac @sincerti
/examples/extended/medical/dna/chem1/           @ngoc @ihrivnac @sincerti
/examples/extended/medical/dna/chem2/           @ngoc @ihrivnac @sincerti
/examples/extended/medical/dna/chem3/           @ngoc @ihrivnac @sincerti
/examples/extended/medical/dna/chem4/           @ngoc @ihrivnac @sincerti
/examples/extended/medical/dna/chem5/           @ngoc @ihrivnac @sincerti
/examples/extended/medical/dna/chem6/           @wshin @ihrivnac @sincerti
/examples/extended/medical/dna/clustering/      @ngoc @ihrivnac @sincerti
/examples/extended/medical/dna/dnadamage1/      @ngoc @ihrivnac @sincerti
/examples/extended/medical/dna/dnadamage2/      @ngoc @ihrivnac @sincerti
/examples/extended/medical/dna/dnaphysics/      @sincerti @ihrivnac
/examples/extended/medical/dna/icsd/            @cvillagr @ihrivnac @sincerti
/examples/extended/medical/dna/jetcounter/      @ngoc @ihrivnac @sincerti
/examples/extended/medical/dna/mfp/             @sincerti @ihrivnac
/examples/extended/medical/dna/microdosimetry/  @sincerti @ihrivnac
/examples/extended/medical/dna/microprox/       @sincerti @ihrivnac
/examples/extended/medical/dna/microtrack/      @mcortesg @sincerti @ihrivnac
/examples/extended/medical/dna/microyz/         @sincerti @ihrivnac
/examples/extended/medical/dna/molcounters/     @ngoc @ihrivnac @sincerti
/examples/extended/medical/dna/neuron/          @sincerti @ihrivnac
/examples/extended/medical/dna/pdb4dna/         @sincerti @ihrivnac
/examples/extended/medical/dna/phasespace/      @sincerti @ihrivnac
/examples/extended/medical/dna/radial/          @sincerti @ihrivnac
/examples/extended/medical/dna/range/           @sincerti @ihrivnac
/examples/extended/medical/dna/scavenger/       @ngoc @ihrivnac @sincerti
/examples/extended/medical/dna/slowing/         @sincerti @ihrivnac
/examples/extended/medical/dna/splitting/       @sincerti @ihrivnac
/examples/extended/medical/dna/spower/          @sincerti @ihrivnac
/examples/extended/medical/dna/svalue/          @sincerti @ihrivnac
/examples/extended/medical/dna/wholeNuclearDNA/ @cvillagr @ihrivnac @sincerti
/examples/extended/medical/dna/wvalue/          @sincerti @ihrivnac

/examples/extended/medical/electronScattering/  @maire @ihrivnac
/examples/extended/medical/electronScattering2/ @perl @ihrivnac
/examples/extended/medical/fanoCavity/          @maire @ihrivnac
/examples/extended/medical/fanoCavity2/         @maire @ihrivnac
/examples/extended/medical/GammaTherapy/        @vnivanch @ihrivnac
/examples/extended/medical/radiobiology/        @cirrone @pandola @ihrivnac

/examples/extended/optical/OpNovice/  @dsawkey @ihrivnac
/examples/extended/optical/OpNovice2/ @dsawkey @ihrivnac
/examples/extended/optical/LXe/       @dsawkey @ihrivnac
/examples/extended/optical/wls/       @dsawkey @ihrivnac

/examples/extended/parallel/MPI/               @bmorgan @kmura @ihrivnac
/examples/extended/parallel/ThreadsafeScorers/ @bmorgan @jmadsen @ihrivnac

/examples/extended/parameterisations/gflash/ @mverderi @ihrivnac
/examples/extended/parameterisations/Par01/  @mverderi @ihrivnac
/examples/extended/parameterisations/Par02/  @ribon @ihrivnac
/examples/extended/parameterisations/Par03/  @azaborow @ihrivnac
/examples/extended/parameterisations/Par04/  @azaborow @ihrivnac

/examples/extended/persistency/gdml/ @witoldp @gcosmo @ihrivnac
/examples/extended/persistency/P01/  @witoldp @ihrivnac
/examples/extended/persistency/P02/  @witoldp @ihrivnac
/examples/extended/persistency/P03/  @arce @ihrivnac

/examples/extended/physicslists/extensibleFactory/ @rhatcher @ihrivnac @gunter
/examples/extended/physicslists/factory/           @ihrivnac @gunter
/examples/extended/physicslists/genericPL/         @witoldp @ihrivnac @gunter

/examples/extended/polarisation/Pol01/ @vnivanch @ihrivnac

/examples/extended/radioactivedecay/Activation/ @maire @ihrivnac
/examples/extended/radioactivedecay/rdecay01/   @maire @ihrivnac
/examples/extended/radioactivedecay/rdecay02/   @ldesorgh @ihrivnac

/examples/extended/runAndEvent/RE01/ @asaim @ihrivnac
/examples/extended/runAndEvent/RE02/ @asaim @ihrivnac
/examples/extended/runAndEvent/RE03/ @asaim @ihrivnac
/examples/extended/runAndEvent/RE04/ @asaim @ihrivnac
/examples/extended/runAndEvent/RE05/ @asaim @ihrivnac
/examples/extended/runAndEvent/RE06/ @asaim @ihrivnac
/examples/extended/runAndEvent/RE07  @jhahnfel @ihrivnac

/examples/extended/visualization/movies/        @allison @ihrivnac
/examples/extended/visualization/perspective/   @allison @ihrivnac
/examples/extended/visualization/standalone/    @allison @ihrivnac
/examples/extended/visualization/userVisAction/ @allison @ihrivnac
/examples/extended/visualization/vtk/           @sboogert @allison @ihrivnac

#------------------------------------------------------------------------------
# Advanced Examples (Can be extended with responsibles per example)
#------------------------------------------------------------------------------
/examples/advanced/                        @fromano @mcortesg
/examples/advanced/air_shower/             @tome    @fromano @mcortesg
/examples/advanced/amsEcal/                @maire    @fromano @mcortesg
/examples/advanced/brachytherapy/          @guatelli    @fromano @mcortesg
/examples/advanced/CaTS/                   @wenzel    @fromano @mcortesg
###/examples/advanced/ChargeExchangeMC/    @fromano @mcortesg
/examples/advanced/composite_calorimeter/  @ribon    @fromano @mcortesg

/examples/advanced/dna/cellularPhantom/    @sincerti    @fromano @mcortesg
/examples/advanced/dna/dsbandrepair/       @yperrot @anle    @fromano @mcortesg
/examples/advanced/dna/moleculardna/       @ngoc    @fromano @mcortesg

/examples/advanced/doiPET/                 @guatelli    @fromano @mcortesg
/examples/advanced/eFLASH_radiotherapy/    @fromano @gmilluzz    @mcortesg
/examples/advanced/eRosita/                @flongo    @fromano @mcortesg
/examples/advanced/exp_microdosimetry/     @gmilluzz @fromano @guatelli    @mcortesg
/examples/advanced/fastAerosol/            @asaim    @fromano @mcortesg
/examples/advanced/gammaknife/             @fromano    @mcortesg
/examples/advanced/gammaray_telescope/     @flongo    @fromano @mcortesg
/examples/advanced/gorad/                  @asaim    @fromano @mcortesg
/examples/advanced/hadrontherapy/          @cirrone    @fromano @mcortesg
/examples/advanced/HGCal_testbeam/         @azaborow    @fromano @mcortesg
/examples/advanced/human_phantom/          @guatelli    @fromano @mcortesg
/examples/advanced/IAEAphsp/               @mcortesg    @fromano
/examples/advanced/ICRP110_HumanPhantoms/  @guatelli @allison    @fromano @mcortesg
/examples/advanced/ICRP145_HumanPhantoms/  @guatelli @allison    @fromano @mcortesg
/examples/advanced/iort_therapy/           @fromano @mcortesg
###/examples/advanced/lAr_calorimeter/     @fromano @mcortesg
/examples/advanced/medical_linac/          @cmancini    @fromano @mcortesg
/examples/advanced/microbeam/              @sincerti    @fromano @mcortesg
/examples/advanced/microelec_SEY/          @cinguimb @qgibaru @pcaron @lamberda    @fromano @mcortesg
/examples/advanced/microelectronics/       @cinguimb @qgibaru @lamberda    @fromano @mcortesg
/examples/advanced/nanobeam/               @sincerti    @fromano @mcortesg
/examples/advanced/purging_magnet/         @japost    @fromano @mcortesg
/examples/advanced/STCyclotron/            @guatelli    @fromano @mcortesg
/examples/advanced/stim_pixe_tomography/   @lzhuxin    @fromano @mcortesg
/examples/advanced/underground_physics/    @ahoward    @fromano @mcortesg
/examples/advanced/xray_fluorescence/      @mantero    @fromano @mcortesg
/examples/advanced/xray_SiliconPoreOptics/ @pdondero    @fromano @mcortesg
/examples/advanced/xray_telescope/         @santin    @fromano @mcortesg
/examples/advanced/xray_TESdetector/       @pdondero    @fromano @mcortesg
